alembic==1.8.1
amqp==5.1.1
async-timeout==4.0.2
billiard==4.1.0
celery==5.3.1
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.4
dnspython==2.2.1
email-validator==1.2.1
flake8==4.0.1
Flask==2.0.2
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
gunicorn==21.2.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
kombu==5.3.1
Mako==1.2.1
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==23.1
prompt-toolkit==3.0.39
pycodestyle==2.8.0
pyflakes==2.4.0
pymodbus==3.3.2
pyserial==3.5
python-dateutil==2.8.2
redis==4.6.0
requests==2.26.0
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.29
tzdata==2023.3
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.6
Werkzeug==2.0.2
WTForms==3.0.1
