{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class='col-12'>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="alert alert-warning" role="alert">
              {% for message in messages %}
                  {{ message }}<br>
              {% endfor %}
          </div>
          {% endif %}
        {% endwith %}


        <form action="" method="post"  novalidate>
        <table>
            <tr>
                <td>
                    {{ form.select_date.label }}
                </td>
                <td>
                    {{ form.select_date }}
                </td>
                <td>{{ form.update }} </td>
            </tr>
        </table>
        </form>


       

        <table border="2" bordercolor="grey"  align="center" width="100%"
        cellpadding="10" >            
            <tr>
                <th> № линии - id </th>
                <th> Название линии </th>
                <th> № порта </th>
                <th> Адрес </th>
                <th> Коэффициент </th>
                <th> Длина </th>               
                <th> Скорость линии </th>
                <th> Время обновления </th>
            </tr>     
            {% for line in lines %}                      
                <tr>
                    <td> {{  line['line_number']  }} - {{ line['id'] }} </td>       
                    <td> {{ line['name'] }} </td>    
                    <td> {{ line['port'] }} </td>    
                    <td> {{ line['adr'] }} </td>    
                    <td> {{ line['k'] }} 
                        <form action="{{ url_for('test_1.equation') }}" method="post">
                            {{ form.csrf_token }}     
                            {{ form.koef_a }} - {{ form.submit }}
                        </form>
                    </td>    
                    <td  {% if not line['no_connection_counter'] %} style="background-color: Red" {% endif %} >
                        {{ line['length'] }} 
                    </td>    
                    <td> {{ line['speed_line'] }} </td>    
                    <td> {{ line['updated_dt'] }} </td>                 
                </tr>
            {% endfor %}
        </table>    

    </div>

</div>
{% endblock %}
